h1 {
    color: rgb(190, 38, 38);
    font-size: 100px;
}

h2{
    color: rgb(190, 38, 38)
    font-size: 75px;
}

.box{
    height: auto;
    width: 100px;
    padding: 20px;
    margin: 50px;
    border: 10px solid rgba(0, 0, 0, 1);
    background-color: rgb(197, 19, 7);
}

.photobox{
    height: 400px;
    width: 300px;
    border: 10px solid rgba(0,0,0,1);
}

.listbox{
    height: auto;
    Width: 10%;
    background-color: rgb(197, 19, 7);
    border: 10px solid rgba(0,0,0,1);
}


