body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #ddd;
    margin: 0;
    padding: 0;
}

header {
    background-color: #222;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-section {
    background: url('https://attachments-cdn-s.coub.com/coub_storage/coub/simple/cw_image/7921bc8602a/3f2252dfcb29bfc4726e5/1505736488_00020.jpg') center/cover;
    text-align: center;
    padding: 100px 20px;
}

nav a {
    margin-left: 20px;
    color: #ccc;
    text-decoration: none;
}


.enlist-button {
    background-color: #b10000;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.hero-section h2 {
    font-size: 4rem;
    color: #fff;
}

.content-section {
    display: flex;
    padding: 50px;
    gap: 20px;
}

.side-quote{
    display: flex;
    align-content:first baseline;
    padding: 50px;
    gap: 20px;
}

.side-image{
    background: url('https://i.scdn.co/image/ab67656300005f1ff66c209d9b10c120147a81ad') center/cover;
    padding: 100px 100px;
}

.content-text, .content-quote {
    flex: 1;
    background-color: #333;
    padding: 20px;
}

.more-info-button {
    background-color: #b10000;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 20px;
    text-decoration: none;
}

footer {
    background-color: #222;
    padding: 20px;
    text-align: center;
}

.resources {
    display: block;
    margin: auto;
    width: 50px;
    color: #ccc;
    text-decoration: none;
}



